/* Базовые стили для меню */
#backToTop {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    left: 30px;
    background-color: #0d33e6ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 44px;
}



#menu {
    max-height: 0; /* Начальное состояние: меню скрыто */
    overflow: hidden;
    flex-direction: column;
    background-color: #0B1B32;
    position: absolute;
    top: -7000px;
    right: 10px;
    border-radius: 5px;
    z-index: 1000;
    padding: 0; /* Убираем внутренние отступы при скрытии */
    transition: max-height 0.3s ease, padding 0.3s ease; /* Анимация высоты и отступов */
}

/* Открытое меню */
#menu.active {
    top: 60px;

    max-height: 700px; /* Задайте высоту, достаточную для всех элементов меню */
    padding: 10px; /* Возвращаем внутренние отступы */
}

/* Ссылки в меню */
#menu a {
    color: #E5C9D7;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menu a:hover {
    background-color: #26415E;
}

/* Стили для кнопки бургер-меню */
#burgerButton {
    background-color: none;
    position: absolute;
    top: 2px;
    left: 5px;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Активная кнопка бургер-меню */
 #burgerButton.active {
    background-color: #0F2C6F;
    transform: rotate(90deg); /* Поворот кнопки */
}

/*

.all-categories {
    display: flex;
    justify-content: column;
    gap: 15px;
    height: 937px;
    width: 100%;
}


.ctgr1-card {
    width: 100%;
    height: 70px;
    background-image: url('./img/ctgr.jpg');
    background: flex;
}
.ctgr1-card:hover {
    height: 777px;

} */

/* Стиль для загрузочного экрана */
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/loading.jpg');
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Анимация для индикатора загрузки */
.loader {
    position: absolute;
    bottom: 170px;
    border: 8px solid #f3f3f3; /* Светлый фон */
    border-top: 8px solid #3498db; /* Синий цвет для анимации */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.biglogo {
    height: 200px;
    width: 200px;
    background: none;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-card {
    background-color: #0bcce6ff;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

.category-card:hover {
    background-color: #26415E;
}

.category-header {
    padding: 10px;
    width: max;
    height: 50px;
     /* Фон для категории */
    background-repeat: mo-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.category-header h3 {
    text-shadow: 6px 2px 6px rgb(230 230 230 / 70%); 
    position: relative; 
    margin: 0;
    font-size: 24px;
    color: #1a99b3;
    
}

.category-content {
    background-size: cover;
    background-repeat: mo-repeat;
    display: none;
    padding: 5px;
    background-color: #132641;
     
}

.category-content .product-card {
    margin-bottom: 10px;
}

.category-card.expanded .category-content {
    display: block;
}
